.nav{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 4vh 2vw;
    height: 40px;
    align-items: center;
    gap: 10%;
    background-color: beige;
    padding: 8px 20px;
    border-radius: 15px;
}

.logo img{
    height: 35px;
}

.navMenu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navMenu button{
    border: none;
    background: none;
    cursor: pointer;
}

.navLogin{
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-content: space-between;
}
.navLogin a{
    text-decoration: none;
    color: black;
}
.navbtn1{
    padding: 10px;
    background: none;
    border: 1.2px solid rgb(38, 13, 62);
    color: blueviolet;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}
.navbtn2{
    padding: 10px;
    background-color: rgb(42, 15, 67);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(42, 12, 70);
    cursor: pointer;
}

.burger{
    display: none;
}

.titleVideo{
    display: flex;
    align-items: center;
    justify-content: center;
}
.titleVideo video{
    max-height: 3rem;
    max-width: 100%;
}

.heroButtons{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0px 5px 0px; 
}

#heroBtn1{
    margin: 4px;
}

.text{
    display: flex;
    align-items: center;
    justify-content: center;
}

.companiesLogo{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.companiesLogo img{
    margin: 10px;
}

.landingVideo video{
    width: 70%;
    height: 10%;
    margin: 0px 15%;
    border-radius: 10px;
}

@media (max-width: 990px) and (min-width: 0px){
    .nav{
        grid-template-columns: auto auto auto;
    }
    .navLogin{
        display: none;
    }
    .burger{
        display: block;
        margin-right: 2vw;
    }
}

@media (max-width:600px) and (min-width: 0px) {
    .nav{
        grid-template-columns: auto auto;
        justify-content: space-between;
    }
    .navMenu{
        display: none;
    }
    .heroButtons{
        flex-wrap: wrap;
    }
    .text{
        text-align: center;
    }
}